/* zerando as configurações */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Etilizando o parágrafo */
.products p{
    margin: 0;
    text-align: center;
    padding: 10px;
    color: deeppink;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:deeppink;
    padding: 30px;
    background-color: rgb(192, 188, 188);

}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-color: black;
    color:white;
    padding: 20px;
    text-align: center;
}

.products{
    background-color: white;
    border: 1px solid #000000;
    padding: 20px;
    margin-bottom: 20px;

    /* transformando em container */
    display: flex;

    /* deixa o texto embaixo da imagem */
    flex-direction: column;
}

.products{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

main#album{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

section.coluna{
    flex: 1 1 100%;
    padding: 0px 5px;
}